/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


/* importing tailwind css */
@tailwind base;
@tailwind components;
@tailwind utilities;




/* customizing tailwind */
@layer base {
    .primary-col {
        /* @apply text-[#b1b493]; */
        /* @apply text-[#ec5b53]; */
        @apply text-[#ec5b53];
    }

    .secondary-col {
        @apply text-[#10285d];
    }

    .footer-link-transition {
        @apply transition-all duration-300 hover:ml-5 hover:text-[#10285d];
    }

    /* navbar styling */
    .navigation {
        height: 80px;
        width: 100%;
        display: flex;
        position: relative;
        padding: 1.2rem 1.3rem

    }

    .navbar-menu {
        margin-left: auto;
    }

    .navbar-menu ul {
        display: flex;
    }


    .navbar-menu li {
        list-style-type: none;
        margin: 0rem 1rem;
    }


    .hamburger {
        position: absolute;
        right: 25px;
        display: none;
        margin-left: 1rem;
    }












}